@use 'base/variables' as v;
@use 'base/mixins' as m;

.pagina-lista {
    background-color: rgba(v.$verde, 0.9);
}
.contenedor__lista {
    padding: 4rem;

    h2{
        color: v.$blanco;
        text-align: start;
        margin:0 0 3rem 5%;
    }
    .lista {
        width: 90%;
        margin: 0 auto;
        background-color: rgba(v.$blanco, 1);
        border-collapse: collapse;
        overflow: hidden;
    }
}

.lista__fila {
    &:nth-child(even){
        background-color: rgb(177, 174, 174);
    }
    .lista__encabezado,
    .lista__contenido{
        padding: 1rem 1.5rem;
    }
    .lista__encabezado {
        background-color: rgba(v.$rojo, 0.8);
        text-transform: capitalize;
        color: v.$blanco;
    }
    .lista__contenido {
        
        text-align: center;
        transition: all 0.6s ease-in;
        &:hover{
            background-color: darken($color: v.$blanco, $amount: 20%);
            color: v.$negro;
            cursor: pointer;
        }

        

        .pencil {
            color: rgba(v.$azul, 0.9);
            transition: all 0.8s;

            &:hover{
                color: darken($color: v.$azul, $amount: 40%);
            }
        }
        .trash {
            color: #dc2626;
            transition: all 0.8s;
            &:hover{
                color: darken($color:#dc2626 , $amount: 20%);
            }
        }

        
    }
}

.btn-agregar{
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: rgba(v.$blanco, 1);
    border-radius: 10px;
    padding: 1rem;
    width: 15%;
    cursor: pointer;

    &:hover{
        
    }
    h3{
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    i{
        margin-left: 50%;
        transform: translateX(-50%);
    }
}




