@use 'base/variables' as v;
@use 'base/mixins' as m;

/*Sesion*/
.pagina-sesion {
    background-color: v.$verde;
    padding: 10rem 5rem;
}

.contenedor__sesion {
    width: 100%;
    height: 50rem;
    @include m.flex(row-reverse, center, center, 0);
    @include m.desktop{
        width: 60%;
    }
    @include m.max-tablet {
        flex-direction: column;
    }

    .sesion__left {
        width: 50%;
        height: 100%;
        background-color: v.$blanco;
        margin: auto;
        position: relative;
        transition: all 0.6s;

        &:hover {
            box-shadow: 0 0 10px 0 v.$verde-claro;
        }

        .left-capa {
            position: absolute;
            inset: 0;
            background-color: #ffffff34;

            
        }
        @include m.max-tablet {
            display: none;
            z-index: -200;
        }

        .sesion__logo {
            width: 200px;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%);
            z-index: 200;

        }

    }

    .sesion__right {
        width: 50%;
        background-color: v.$rojo;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 100%;
        transition: all 0.6s;

        &:hover {
            box-shadow: 0 0 10px 0 v.$verde-claro;
        }

        @include m.max-tablet {
            width: 100%;
            border-radius: 20px;
        }


    }
}

.sesion__formulario {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    @include m.flex(column, center, stretch, 2rem);


    .sesion__formulario__titulo {
        color: v.$blanco;
    }

    .sesion__formulario__input {
        padding: 1rem 2rem;
        border-radius: 50px;
        text-align: center;
        transition: all 0.8S;

        &:hover {
            background-color: v.$verde;
            color: v.$blanco;
        }
    }

    .sesion__formulario__btn {
        background-color: v.$negro;
        color: v.$blanco;
        cursor: pointer;
        transition: all 0.7s;

        &:hover {
            background-color: v.$blanco;
            color: v.$negro;
        }
    }

}