@use 'variables' as v;

/*Media querys*/

@mixin telefono {
    @media (min-width:v.$telefono){
        @content;
    }
}
@mixin max-telefono {
    @media (max-width:v.$telefono){
        @content;
    }
}
@mixin tablet {
    @media (min-width:v.$tablet){
        @content;
    }
}
@mixin max-tablet {
    @media (max-width:v.$tablet){
        @content;
    }
}
@mixin desktop {
    @media (min-width:v.$desktop){
        @content;
    }
}
@mixin desktopLX {
    @media (min-width:v.$desktopLX){
        @content;
    }
}

/*Mixin para el grid layout*/
@mixin grid($repet:2,$gap:5rem){
    display: grid;
    grid-template-columns:repeat($repet,1fr) ;
    gap: $gap;
}

/*Mixin para display flex*/
@mixin flex($direction:v.$row,$justify:v.$space-b,$align:v.$center,$gap:2rem){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap:$gap;
}