//Fuentes
$fuente-principal:"Roboto", sans-serif;

//Colores
$blanco: #ffffff;
$negro: #0d0210;
$rojo:#721d1d;
$verde:#1A3931;
$verde-obs:#122722;
$gris:#a8a7a8;
$azul:#0866FF;
$verde-claro:#00A884;    
$instagram:#FC03B7;

//tamaños
$telefono:468px;
$tablet:768px;
$desktop:1200px;
$desktopLX:1400px;

//Flex
$row:row;
$column:column;
$space-b:space-between;
$center:center;