<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pequeña Jungla</title>
    <script src="https://kit.fontawesome.com/482ad17f17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="build/css/app.css">
</head>

<body>
    <header class="header">
        <div class="contenedor__header contenedor">
            <div class="header__info">
                <a href="index.html" id="logo_enlace"><img src="img/LOGOJUNGLAV2.png" alt="logo de empresa"
                        class="header__logo"></a>
                <h2 class="header__titulo">software de gestion veterinaria</h2>
            </div>
            <div class="contenedor__us">
                <i class="fa-solid fa-user"></i>
                <p>Geovanni Vera</p>
            </div>
            <nav class="header__nav">
                <a href="lista-servicios.html" class="header__enlace"><i class="fa-solid fa-shield-dog"></i> Servicio</a>
                <a href="lista-mascota.html" class="header__enlace"><i class="fa-solid fa-dog"></i> Mascota</a>
                <a href="listaCliente.html" class="header__enlace"><i class="fa-solid fa-person"></i> Cliente</a>
                <a href="lista-empleado.html" class="header__enlace"><i class="fa-solid fa-user-nurse"></i> Empleado</a>
                <a href="lista-usuario.html" class="header__enlace"><i class="fa-solid fa-user"></i> Usuario</a>
                <a href="lista-inventario.html" class="header__enlace"><i class="fa-solid fa-bottle-water"></i> Inventario</a>
                <a href="index.html" class="header__enlace"><i class="fa-solid fa-user-xmark"></i> cerrar sesion</a>
            </nav>
        </div>
    </header>
    <!-- Contenido Index -->
    <div class="pagina-lista">
        <!-- Primera Columna -->
        <div class=" contenedor__lista contenedor">
            <h2>Cliente</h2>
            <table class="lista">
                
                <tr class="lista__fila">
                    <th class="lista__encabezado">ID</th>
                    <th class="lista__encabezado">Nombre</th>
                    <th class="lista__encabezado">Apellido Paterno</th>
                    <th class="lista__encabezado">Apellido Materno</th>
                    <th class="lista__encabezado">Telefono Movil</th>
                    <th class="lista__encabezado">Telefono Fijo</th>
                    <th class="lista__encabezado">Correo Electronico</th>
                    <th class="lista__encabezado">Direccion</th>
                    <th class="lista__encabezado">Estado</th>
                    <th class="lista__encabezado" colspan="2">Operaciones</th>
                </tr>
                <tr class="lista__fila">
                    <td class="lista__contenido">001</td>
                    <td class="lista__contenido">Luis</td>
                    <td class="lista__contenido">Enriquez</td>
                    <td class="lista__contenido">gonzales</td>
                    <td class="lista__contenido">5522303580</td>
                    <td class="lista__contenido">57452383</td>
                    <td class="lista__contenido">LuiEnr@gmail.com</td>
                    <td class="lista__contenido">Pablo Garcia 648, 09100</td>
                    <td class="lista__contenido">Activo</td>
                    <td class="lista__contenido"><i class="fa-solid fa-pencil pencil"></i></td>
                    <td class="lista__contenido"><i class="fa-solid fa-trash trash"></i></td>
                </tr>
                <tr class="lista__fila">
                    <td class="lista__contenido">002</td>
                    <td class="lista__contenido">Mariana</td>
                    <td class="lista__contenido">Lopez</td>
                    <td class="lista__contenido">Perez</td>
                    <td class="lista__contenido">5544332211</td>
                    <td class="lista__contenido">67543210</td>
                    <td class="lista__contenido">MariLopez@hotmail.com</td>
                    <td class="lista__contenido">Calle 12 de Octubre #456, 55400</td>
                    <td class="lista__contenido">Activo</td>
                    <td class="lista__contenido"><i class="fa-solid fa-pencil pencil"></i></td>
                    <td class="lista__contenido"><i class="fa-solid fa-trash trash"></i></td>
                </tr>
                <tr class="lista__fila">
                    <td class="lista__contenido">003</td>
                    <td class="lista__contenido">Juan</td>
                    <td class="lista__contenido">García</td>
                    <td class="lista__contenido">Martinez</td>
                    <td class="lista__contenido">5577665544</td>
                    <td class="lista__contenido">34234211</td>
                    <td class="lista__contenido">JuanG@yahoo.com.mx</td>
                    <td class="lista__contenido">Avenida Juárez #234, 65700</td>
                    <td class="lista__contenido">Activo</td>
                    <td class="lista__contenido"><i class="fa-solid fa-pencil pencil"></i></td>
                    <td class="lista__contenido"><i class="fa-solid fa-trash trash"></i></td>
                </tr>
                <tr class="lista__fila">
                    <td class="lista__contenido">004</td>
                    <td class="lista__contenido">Pedro</td>
                    <td class="lista__contenido">Núñez</td>
                    <td class="lista__contenido">Romero</td>
                    <td class="lista__contenido">5512345678</td>
                    <td class="lista__contenido">789654321</td>
                    <td class="lista__contenido">PedroN@gmail.com</td>
                    <td class="lista__contenido">Boulevard Insurgentes #100, 03700</td>
                    <td class="lista__contenido">Activo</td>
                    <td class="lista__contenido"><i class="fa-solid fa-pencil pencil"></i></td>
                    <td class="lista__contenido"><i class="fa-solid fa-trash trash"></i></td>
                </tr>
                <tr class="lista__fila">
                    <td class="lista__contenido">005</td>
                    <td class="lista__contenido">Ana</td>
                    <td class="lista__contenido">Silva</td>
                    <td class="lista__contenido">Flores</td>
                    <td class="lista__contenido">5555443322</td>
                    <td class="lista__contenido">890123456</td>
                    <td class="lista__contenido">AnaS@outlook.com</td>
                    <td class="lista__contenido">Calle Zaragoza #321, 47000</td>
                    <td class="lista__contenido">Activo</td>
                    <td class="lista__contenido"><i class="fa-solid fa-pencil pencil"></i></td>
                    <td class="lista__contenido"><i class="fa-solid fa-trash trash"></i></td>
                </tr>
                <tr class="lista__fila">
                    <td class="lista__contenido">006</td>
                    <td class="lista__contenido">Carlos</td>
                    <td class="lista__contenido">Romero</td>
                    <td class="lista__contenido">López</td>
                    <td class="lista__contenido">5522113344</td>
                    <td class="lista__contenido">987654321</td>
                    <td class="lista__contenido">CarlosR@live.com.mx</td>
                    <td class="lista__contenido">Privada Miguel Hidalgo #543, 23500</td>
                    <td class="lista__contenido">Activo</td>
                    <td class="lista__contenido"><i class="fa-solid fa-pencil pencil"></i></td>
                    <td class="lista__contenido"><i class="fa-solid fa-trash trash"></i></td>
                </tr>
            </table>

            <div class="btn-agregar">
                <a href="form-cliente.html"> <i class="fa-solid fa-user-plus"></i>
                </a>
                <h3>Nuevo Cliente</h3>

            </div>
        </div>
    </div>
    <!-- Pie de pagina -->
    <footer class="footer">
        <div class="contenedor__footer contenedor">
            <div class="footer__dir">
                <h3 class="footer__dir__titulo">Direccion</h3>
                <p class="footer__parrafo">
                    Calle, Gral. Juan Manuel Torrea 40 bis, esquina José María, Iztapalapa, 09100 Parras de la Fuente,
                    CDMX
                </p>
                <h3 class="footer__dir__titulo">Contacto</h3>
                <p class="footer__parrafo centrar">
                    <i class="fa-solid fa-phone"></i> 5529459032
                </p>

            </div>
            <div class="footer__social">
                <h3 class="footer__social__titulo">Redes Sociales</h3>
                <div class="footer__social__enlaces">
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-facebook"></i>Facebook</a>
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-whatsapp"></i>whatsapp</a>
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-instagram"></i>Instagram</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>